work/
results/
samples/
refs/
.vscode/
.nextflow*
*.gz
*.img
*.bam
*.sam
*.bai
*.bw
*.bed
*.fastq.gz
*.fq.gz
*.samtools*
*.narrowPeak
*.broadPeak

GSE* 
hg38*
hg19*

__pycache__/
*.pyc

*.sif
preparsed/
motifs_output/
motifs_test/
*.tmp
*.fa
*.gcbins
*.cgfreq
*.pos
*.seq
work/